.nav {
    background: url("/img/concrete_seamless.png");
    color: $color-main;
    .logo {
        max-height: 150px;
    }
}

a {
    color: $color-main;
    &:hover,
    &:visited,
    &:active {
        color: darken($color-main, 10%);
    }
}

.adminLogin {
    .logo {
        height: 100%;
        max-height: 250px;
    }
}

.section-header {
    margin-bottom: 1em;
}

.spliter {
    border-right: 5px $color-accent1 solid;
}

.btn {
    border: none;
    background-color: $color-accent1;
    &:hover,
    &:visited {
        background-color: $color-accent1;
        color: white;
    }
    &:active {
        background-color: darken($color-accent1, 30%);
        color: white;
    }
    &.btn-accent2 {
        background-color: $color-accent3;
    }
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: $color-accent1;
    }
}

.projectsListItem {
    background-color: lighten($color-accent1, 40%);
    border: 1px white solid;
    font-size: 0.75em;
    padding: 1em 0.2em;
    &:nth-child(even) {
        background-color: lighten($color-accent1, 35%);
    }
    &:hover {
        background-color: lighten($color-accent3, 40%);
    }
}

.grid-cell-header {
    text-align: center;
}

.grid-cell {
    text-align: center;
    border-right: 1px solid $color-accent1;
    font-weight: bolder;
    &:first-of-type {
        border-left: 1px solid darken($color-accent1, 10%);
    }
    &:last-of-type {
        border-right: none;
    }
}

.missing-judge {
    border: red 1px solid;
}

.judge-row {
    padding: 1em;
    border-bottom: 1px solid $color-accent1;
    & .judge-col {
        border-right: 1px solid $color-accent1;
    }
    & .judge-pwd {
        text-align: center;
        &.pwd {
            filter: blur(2px);
        }
    }
}