.nav {
    background: url("/img/concrete_seamless.png");
    color: $color-main;
    .logo {
        max-height: 150px;
    }
}

a {
    color: $color-main;
    &:hover,
    &:visited,
    &:active {
        color: darken($color-main, 10%);
    }
}

.adminLogin {
    .logo {
        height: 100%;
        max-height: 250px;
    }
}

.section-header {
    margin-bottom: 1em;
}

.spliter {
    border-right: 5px $color-accent1 solid;
}

.btn {
    border: none;
    background-color: $color-accent1;
    &:hover,
    &:visited {
        background-color: $color-accent1;
        color: white;
    }
    &:active {
        background-color: darken($color-accent1, 30%);
        color: white;
    }
    &.btn-accent2 {
        background-color: $color-accent3;
    }
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: $color-accent1;
    }
}

.projectsListItem {
    background-color: lighten($color-accent1, 40%);
    border: 1px white solid;
    font-size: 0.75em;
    padding: 1em 0.2em;
    &:nth-child(even) {
        background-color: lighten($color-accent1, 35%);
    }
    &:hover {
        background-color: lighten($color-accent3, 40%);
    }
}

.grid-cell-header {
    text-align: center;
}

.grid-cell {
    text-align: center;
    border-right: 1px solid $color-accent1;
    font-weight: bolder;
    &:first-of-type {
        border-left: 1px solid darken($color-accent1, 10%);
    }
    &:last-of-type {
        border-right: none;
    }
}

.missing-judge {
    border: red 1px solid;
}

.judge-row {
    padding: 1em;
    border-bottom: 1px solid $color-accent1;
    & .judge-col {
        border-right: 1px solid $color-accent1;
    }
    & .judge-pwd {
        text-align: center;
        &.pwd {
            filter: blur(4px);
        }
    }
}

.evaluation-section {
    color: darken($color-accent2, 10%);
}

.evaluation-subsection {
    color: black;
    &:nth-of-type(even) {
        background-color: lighten($color-accent1, 20%);
    }
    &:nth-of-type(odd) {
        background-color: lighten($color-accent1, 35%);
    }
}

.criterion-notes {
    line-height: 0.3em !important;
}
.criterion-check {
    color: darken($color-accent3, 20%);
}

.grid-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.grid-button-label {
    width: 50%; /* desired width */

    background-color: white;
    border: 2px solid $color-accent1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.1em 0.1em;

    @media screen and (min-width: $breakpoint-sm) {
        margin: 0.2em 0.2em;
    }

    @media screen and (min-width: $breakpoint-md) {
        margin: 0.1em 0.3em;
    }

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &.active {
        background-color: $color-accent3;
        border: 2px solid darken($color-accent3, 10%);
        color: darken($color-accent3, 50%);
    }
}
.grid-button {
    display: none;
    width: 20%;
    height: auto;
}
